html, body {
  font-family: 'Russo One', sans-serif;
  height: 100%;
  width: 100%;
}

.page-header {
  background-color: black;
  color: white;
  position: absolute;
  z-index: 1;
  height: auto;
  width: 100%;
  text-align: center;
}

.container-fluid {
  height: 100%;
}

.row {
  text-align: center;
  height: 100%;
  transition-duration: 1s;
  background-repeat: no-repeat;
  background-size: cover;
}

.col-sm-3, .col-sm-2 {
  transition-duration: 1s;
  -webkit-filter: grayscale(1) blur(2px);
  filter: grayscale(1) blur(2px);
}

.col-sm-6 {
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 1s;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.col-sm-3:hover, .col-sm-2:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  background-repeat: no-repeat;
  background-size: cover;
}
